# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/*
src/libkopsik/Kopsik/build
src/ui/osx/test2.project/build/
toggl_test
toggl

third_party/openssl-1.0.1e/Makefile*
third_party/openssl-1.0.1e/test/*test
third_party/openssl-1.0.1e/*/lib
third_party/openssl-1.0.1e/*/*/lib
third_party/openssl-1.0.1e/**/*.bak
third_party/openssl-1.0.1e/apps/openssl
third_party/openssl-1.0.1e/crypto/buildinf.h
third_party/openssl-1.0.1e/test/sha*t
third_party/openssl-1.0.1e/crypto/**/*.s
/
*.0
*.pc
*.time
opensslconf.h

third_party/poco-1.4.6p2-all/**/bin
third_party/poco-1.4.6p2-all/config.make
third_party/poco-1.4.6p2-all/lib
third_party/poco-1.4.6p2-all/*/samples/*/bin/
third_party/poco-1.4.6p2-all/*/*/testsuite/bin/
.dep

*.db
*.db-wal
*.db-shm


.DS_Store
*.xcuserstate
*.xcuserdatad/
*.log
*.zip
*.app
*.tar.gz

src/branding/

gitstats

*.dmg

coverage

third_party/TFDatePicker/TFDatePicker/build/

xcshareddata

*.obj
*.lib
*.dll
*.pdb
*.pdb
*.tlog
*.exe
*.idb
*.pch

tmp32
obj

src/ui/windows/TogglDesktop/TogglDesktop/bin
src/ui/windows/TogglDesktop/Release
src/libkopsik/TogglDesktopDLL/TogglDesktopDLL/Release

*.dSYM

third_party/plcrashreporter-1.2-rc4/build

*.sdf
*.opensdf
*.suo
*.vcxproj.user

third_party/google-astyle/build/

out32dll
tmp32dll

ipch