# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tmp/*
build/*
src/lib/osx/build
src/ui/*/TogglDesktop/build/
src/ui/*/TogglDesktop/bin/
toggl
test/*
*.bak

third_party/bugsnag-qt/.git
third_party/bugsnag-qt/build
third_party/bugsnag-qt/moc_*.h

third_party/openssl/**/*.o-*
third_party/openssl/stnrUhYw
third_party/openssl/Makefile*
third_party/openssl/test/*test
third_party/openssl/*/lib
third_party/openssl/*/*/lib
third_party/openssl/**/*.bak
third_party/openssl/apps/openssl
third_party/openssl/crypto/buildinf.h
third_party/openssl/test/sha*t
third_party/openssl/crypto/**/*.s
third_party/openssl/MINFO
third_party/openssl/inc32
third_party/openssl/ms/bcb.mak
third_party/openssl/ms/libeay32.def
third_party/openssl/ms/nt.mak
third_party/openssl/ms/ntdll.mak
third_party/openssl/ms/ssleay32.def
third_party/openssl/ms/version32.def
third_party/openssl/ms/version32.rc
third_party/openssl/crypto/x86_64cpuid.s
/
*.0
*.pc
*.time

.dep

*.db
*.db-wal
*.db-shm


.DS_Store
*.xcuserstate
*.xcuserdatad/
*.log
*.zip
TogglDesktop.app

coverage

third_party/TFDatePicker/TFDatePicker/build/

xcshareddata

*.obj
*.tlog
*.exe
*.idb
*.pch

tmp32
obj

src/ui/windows/TogglDesktop/TogglDesktop/bin
src/ui/windows/TogglDesktop/Release
src/ui/windows/TogglDesktop/x64/Release
src/ui/windows/TogglDesktop/TogglDesktopUpdater/bin
src/lib/windows/TogglDesktopDLL/Debug
src/lib/windows/TogglDesktopDLL/Release_VS
src/lib/windows/TogglDesktopDLL/Release
src/lib/windows/TogglDesktopDLL/x64/Debug
src/lib/windows/TogglDesktopDLL/x64/Release_VS
src/lib/windows/TogglDesktopDLL/x64/Release
src/ui/windows/TogglDesktop/.vs

*.dSYM

third_party/plcrashreporter/build

*.sdf
*.opensdf
*.suo
*.vcxproj.user

third_party/google-astyle/build/

out32dll
tmp32dll

ipch

# Nuget
src/ui/windows/TogglDesktop/packages

# QT projects
build-*-Debug
*.pro.user
.qmake.stash

# QT project specific
src/ui/linux/TogglDesktop/TogglDesktop
src/ui/linux/TogglDesktop/ui_*.h
src/ui/linux/TogglDesktop/moc_*.cpp
src/ui/linux/TogglDesktop/moc_*.h
src/ui/linux/TogglDesktop/cacert.pem

# qt generated makefiles
src/ui/linux/TogglDesktop/Makefile
src/lib/linux/TogglDesktopLibrary/Makefile

# qt generated resources
qrc_*.*

# installer
src/branding/
deb
*.deb
rpm
*.tar.gz
*.dmg

# built lua
third_party/lua-5.2.3/src/lua
third_party/lua-5.2.3/src/luac

# code coverage
app.info

*.autosave

# packaged build
out

# Built Lua
third_party/lua/src/lua
third_party/lua/src/luac
third_party/lua/install

# c# unit tests
src/ui/windows/TogglDesktop/TogglDesktopDLLInteropTest/bin

# poco build script, autogenerated, as it seems


# Sublime text
*.sublime-workspace
*.sublime-project

# Qt Creator
.*.swp

# poco binaries
third_party/poco/bin
third_party/poco/bin64

# Resharper user settings
*.DotSettings.user