[submodule "third_party/Sparkle"]
	path = third_party/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
	ignore = dirty
[submodule "third_party/MASShortcut"]
	path = third_party/MASShortcut
	url = https://github.com/shpakovski/MASShortcut.git
	ignore = dirty
[submodule "third_party/bugsnag-cocoa"]
	path = third_party/bugsnag-cocoa
	url = https://github.com/bugsnag/bugsnag-cocoa
	ignore = dirty
