Alari Aho <alari@toggl.com>
Ervin Weber <ervin@toggl.com>
Indrek Vändrik <indzuliin@gmail.com>
Indrek Vändrik <indzuliin@gmail.com>	Indrek Vändrik <indrek@toggl.com>
Indrek Vändrik <indzuliin@gmail.com>	Indrek Vändrik <indrekv@batman.lan>
Indrek Vändrik <indzuliin@gmail.com>	IndrekV <indzuliin@gmail.com>
Marcel Schaeben <mts@geraet.lan>
Marko Burjek <s0mebody.slo@gmail.com>
Mathias Larsen <tripox@tripox.dk>
Sam Ford <sam@quietstuff.com>
Tambet Masik <tambet@toggl.com>
Tanel Lebedev <tanel.lebedev@gmail.com>
Tanel Lebedev <tanel.lebedev@gmail.com>		Tanel Lebedev <tanellebedev@Tanels-MBP.lan>
Tanel Lebedev <tanel.lebedev@gmail.com>		buildbot <buildbot@localhost.localdomain>
Tanel Lebedev <tanel.lebedev@gmail.com>		= <tanel.lebedev@gmail.com>
Paul Scharf <amul@amulware.net>			amulware <amul@amulware.net>
