language: cpp
compiler:
  - gcc
  - clang
install: make deps > /dev/null
script:
  - source /opt/qt55/bin/qt55-env.sh && make clean && make qa
branches:
  only:
    - master
notifications:
  recipients:
    - tanel.lebedev@gmail.com
  email:
    on_success: change
    on_failure: always
before_install:
  - sudo apt-get install lcov
  - sudo apt-add-repository -y ppa:beineri/opt-qt55
  - sudo apt-get -qq update
  - sudo apt-get -qq install qt55tools qt55svg qt55webkit libxss-dev xorg-dev
