      <header>
        <h1>Change log for Toggl Desktop</h1>

        <!---p>Toggl Desktop is a desktop app for online time tracking tool Toggl.com.</p>

        <p class="view"><a href="https://github.com/toggl-open-source/toggldesktop">View the Project on GitHub <small>toggl-open-source/toggldesktop</small></a></p>


        <ul>
          <li><a href="https://github.com/toggl-open-source/toggldesktop/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/toggl-open-source/toggldesktop/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/toggl-open-source/toggldesktop">View On <strong>GitHub</strong></a></li>
        </ul-->
      </header>