          <div class="os linux">
            {% for item in site.data.linux.versions %}
            <div class="version">
              <h3>
                <a id="linux-{{ item.version | replace:'.','-' }}" class="anchor" href="#linux/{{ item.version }}" aria-hidden="true">
                  <span class="octicon octicon-link">{{ item.version }}</span>
                </a>
                {% if item.beta %}
                <span class="beta"></span>
                {% endif %}
                <a class="download-link" href="https://github.com/toggl-open-source/toggldesktop/releases/download/v{{ item.version }}/toggldesktop_linux_x86_64-{{ item.version | replace:'.','_' }}.tar.gz" title="Download linux tarball version {{ item.version }}">tar.gz</a>
                <a class="download-link" href="https://github.com/toggl-open-source/toggldesktop/releases/download/v{{ item.version }}/toggldesktop_{{ item.version }}_amd64.deb" title="Download linux deb version {{ item.version }}">deb64</a>
                <span class="date">{{ item.date }}</span>
              </h3>
              <ul>
                {% for row in item.rows %}
                  <li>{{ row }}</li>
                {% endfor %}
              </ul>
              {% if item.screenshots %}
              <div class="screenshots">
                {% for img in item.screenshots %}
                  <p>{{ img.text }}</p>
                  <img data-src="{{ img.img }}"/>
                  </br>
                  </br>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>