          <div class="os mac">
            {% for item in site.data.osx.versions %}
            <div class="version">
              <h3>
                <a id="mac-{{ item.version | replace:'.','-' }}" class="anchor" href="#mac/{{ item.version }}" aria-hidden="true">
                  <span class="octicon octicon-link">{{ item.version }}</span>
                </a>
                {% if item.beta %}
                <span class="beta"></span>
                {% endif %}
                <a class="download-link" href="https://github.com/toggl-open-source/toggldesktop/releases/download/v{{ item.version }}/TogglDesktop-{{ item.version | replace:'.','_' }}.dmg"  title="Download MacOs version {{ item.version }}">download</a>
                <span class="date">{{ item.date }}</span>
              </h3>
              <ul>
                {% for row in item.rows %}
                  <li>{{ row }}</li>
                {% endfor %}
              </ul>
              {% if item.screenshots %}
              <div class="screenshots">
                {% for img in item.screenshots %}
                  <p>{{ img.text }}</p>
                  <img data-src="{{ img.img }}"/>
                  </br>
                  </br>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>