          <div class="os win">
            {% for item in site.data.windows.versions %}
            <div class="version">
              <h3>
                <a id="win-{{ item.version | replace:'.','-' }}" class="anchor" href="#win/{{ item.version }}" aria-hidden="true">
                  <span class="octicon octicon-link">{{ item.version }}</span>
                </a>
                {% if item.beta %}
                <span class="beta"></span>
                {% endif %}
                <a class="download-link" href="https://github.com/toggl/toggldesktop/releases/download/v{{ item.version }}/TogglDesktopInstaller-{{ item.version }}.exe" title="Download windows version {{ item.version }}">download</a>
                {% if item.has64bit %}
                <a class="download-link" href="https://github.com/toggl/toggldesktop/releases/download/v{{ item.version }}/TogglDesktopInstaller-x64-{{ item.version }}.exe" title="Download windows 64-bit version {{ item.version }}">64-bit</a>
                {% endif %}
                <span class="date">{{ item.date }}</span>
              </h3>
              <ul>
                {% for row in item.rows %}
                  <li>{{ row }}</li>
                {% endfor %}
              </ul>
              {% if item.screenshots %}
              <div class="screenshots">
                {% for img in item.screenshots %}
                  <p>{{ img.text }}</p>
                  <img data-src="{{ img.img }}"/>
                  </br>
                  </br>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>