h1 {
  text-align: center;
  font-size: 38px;
}

h3 {
  border-bottom: 1px solid #e0e0e0;
  line-height: 35px;
  font-size: 20px;
}

.platform-links li {
  list-style: none;
  display: inline;
  border-left: 1px solid #e5e5e5;
  padding: 0 10px;
  font-size: 18px;
}

.platform-links li:first-child {
  border: none;
}

.platform-links li a {
  text-align: center;
  padding: 5px 10px;
}

.table {
  display: table;
  margin: 0 auto;
}

.table ul {
  margin-top: 20px;
}

.os {
  display: none;
  min-height: 200px;
  max-width: 500px;
}

.active {
  display: block!important;
}

.current,
.platform-links li a:hover {
  background-color: #39c;
  color: white;
  border-radius: 5px;
}

.date {
  float: right;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-weight: 300;
  line-height: 35px;
}

.pages ul li {
  font-size: 16px;
}

.beta {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background-color: #6ECC33;
  border-radius: 5px;
  padding: 3px 5px;
  margin-left: 13px;
  line-height: 35px;
  height: 35px;
  vertical-align: middle;
}

.beta::after {
  content: "beta";
}

.screenshots {
  display: none;
  margin-bottom: 20px;
  margin-left: 22px;
}

.screenshots p {
  margin-bottom: 5px;
  font-style: italic;
}

.screenshots img {
  max-width: 350px;
}

.active .screenshots {
  display: block;
}

.download-link {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  padding: 5px;
}

.download-link:hover {
  text-decoration: underline;
}

.anchor {
  color: #000;
  font-weight: 500;
}